:root, .dark {
  --link-color: var(--primary);
  --link-hover-color: rgb(255, 64, 136);
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: rgb(255, 64, 136);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

#menu .active {
color: rgb(255, 64, 136);
}

.post-content {
    font-size: 15px;
}

.post-content a {
color: rgb(255, 64, 136);
}
.post-title {
    font-size: 30px;
}
.post-content h1 {
    font-size: 30px;
}

.post-content h2 {
    font-size: 24px;
}

.post-content h3 {
    font-size: 18px;
}

.post-content h4 {
    font-size: 12px;
}

.post-content h5 {
    font-size: 6px;
}